* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif, 'poppins', 'Roboto';
    overflow-x: hidden;
}

.common-padding {
    padding: 0 50px;
}

.navbar-div {
    padding:15px 30px;
    background-color: #F5F7FA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:2px solid #eee;
    box-shadow: ;
}
.main{
    padding:15px 30px;
}
.main ul {
    list-style: none;
    display: flex;
    gap: 25px;
    font-size: 18px;
    color: black;
}

a{
    color: #000000;
    text-decoration:none;
}
.button-style{
    display: flex;
    gap: 20px;
}
.login-botton button{
    border: none;
    background-color:#F5F7FA;
    color: #4CAF4F;
    padding: 10px 15px;
    font-size: 16px;
}
.button-signup button {
    border-radius: 4px;
    background-color: #4CAF4F;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
}

.slider ul{
    justify-content: center;
    list-style-type: disc;
    display: flex;
    gap: 20px;
    padding: 20px;
    font-size: 25px;
}
/*.carousel-indicators ul{
    align-items: center;
    list-style-type: disc;
    display: flex;
    gap: 25px;
    color: #4CAF4F;
}
*/
.contain-design {
    background-color: #F5F7FA;
    padding: 20px 50px 10px 50px;
}

.contain-design h2 {
    color: #4D4D4D;
    font-weight: bold;
}

.contain-design h3 {
    color: #4CAF4F;
    font-weight: bold;
}

.contain-design p{
    color: #717171;
    font-size: 16px;
}
.contain-design pimg{
    width:300px;
    height: 300px;
}

.customer-data{
    display: flex;
    gap: 50px;
}
.custom-img img{
    gap: 2;
}

.register-style button {
    border-radius: 4px;
    background-color: #4CAF4F;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
}
slider {
    text-align: center;
}
.slider ul{
    display: flex;
    color: #4CAF4F;
}

.txt-containt h2{
    font-weight: bold;
    font-size: 48;
    text-align: center;
    padding:30px 0 0 0 ;
    color: #18191F;
}
.txt-containt p{
    font-size: 18;
    text-align: center;
    color: #18191F;
}
.img-txt-design {
    padding: 30px 50px;
}
.img-txt-design img{
    display: block;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}

.img-txt-design h2 {
    color: #4D4D4D;
    font-weight: bold;
    text-align: center;
}
.img-txt-design p{
    color: #717171;
    font-size: 16px;
    text-align: center;
}

.logo3 img{
    display:inline-block;
    padding: 50px 50px;
}
.logo3 {
    text-align: center;
}

.example {
    background-color: white;
    padding: 50px 50px;
    display: flex;
}

.example h2 {
    color: #4D4D4D;
    font-weight: bold;
}

.example h3 {
    color: #4CAF4F;
    font-weight: bold;
}

.example p{
    color: #717171;
    font-size: 16px;
}

.item-logo {
    display: flex;
    padding: 10px;;
}
.item-logo img{
    padding: 15px;
    width: 80px;
    height: 80px;
}
.txt-design h2 {
    font-weight: 700;
    font-size: 28px;
}

.containt-head{
    text-align: center;
    margin: 50px;
}
.demo-style button{
    text-align: center;
    border-radius: 4px;
    background-color: #4CAF4F;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    gap: 10px;
}
.footer-style {
    background-color: #263238;
    padding: 45px 50px;
}
.footer-txt{
    margin:20px 0;
}
h4{
    color: white;
    font-size: 14px;
}

.foot-element h3{
    color: white;
}

.foot-element ul{
    list-style: none;
    font-size: 14px;
    color: white;
    padding:0;
}
.img-position {
    position: relative;
}
.img-position h4 {
    position: absolute;
    font-size: 20px;
    width: 50%;
    background: rebeccapurple;
    color: red;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.img-position img {
    width: 100%;
}
.foot-element ul li a{
    color: white;
    
    padding: 0;
}
.foot-element ul li a{
    color: white;
}
.email-input input{
    margin: 20px 0;
    padding: 5px;
    background-color: #FFFFFF;
    border-radius: 4px;
    border:none;
}