* { 
    margin: 0;
    padding: 0; 
}
body, html {
    font-family: "Inter" sans-serif;
    overflow-x: hidden;
    padding: 0;
    margin: 0px;
}
    .common_pading {
    padding: 0px 50px;
    }
    .collapse-navbar-collapse {
        text-align: left;
    }
    h3 {

    }
    .navbar-expand-lg .navbar-nav .nav-link 
    {padding-left: 5rem;
        padding-right: 0.5rem;
    }
    .logo {
        width: auto !important;}
   
    .card-img-top
    {
        width: 50px;
        margin: auto;

    }
    .card-header
    {
        border: 0cap;
        
    }

    .btn-secondary {
        color: #fff;
        background-color: #45b020;
       
    }
    .bar 
    {
        color: #717171;
        font-size: 16px;
        height: 200px;
    }
    .hedding
    {
         color: #45b020 ; 
    }
    .hedding2
    {
        color: #685b5b;
    }
    .headingd 
    {
        margin: 140px 0px 0px 0px ;
    }
    .hedding
    {
        text-align:center ;
    }
*h5 {
    color: #45b020;
}
.line
{
    margin: 0px 150px;

}
.padding
{
    padding: 100px;
}
.card-group
{
    margin: 0px 10px;
}
.button 
{
    color: #45b020;
   
}

.Logo 
{
padding: 50px 50px;
  display: flex;
justify-content: space-around;
}
 .word
 {
    display: flex;
 }

h5
{
    color: green
    ;
}
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #263238;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #ffffff;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}


