* { 
    margin: 0;
    padding: 0; }
    .common_pading {
    padding: 0px 50px;
    }
    .collapse-navbar-collapse {
        text-align: left;
    }
    .carousel
    {
         height: 400px;
    }
    .navbar-expand-lg .navbar-nav .nav-link 
    {padding-left: 5rem;
        padding-right: 0.5rem;
    }
    .logo {
        width: auto !important;}
   
    .card-img-top
    {
        width: 50px;
        margin: auto;

    }
    .card-header
    {
        border: 0cap;
        
    }

    .btn-secondary {
        color: #fff;
        background-color: #45b020;
       
    }
    .bar 
    {
        color: #717171;
        font-size: 16px;
        height: 200px;
    }
    .hedding
    {
         color: #45b020 ; 
    }
    .hedding2
    {
        color: #685b5b;
    }
    .headingd 
    {
        margin: 140px 0px 0px 0px ;
    }
    .hedding
    {
        text-align:center ;
    }
*h5 {
    color: #45b020;
}
.line
{
    margin: 0px 150px;

}
.padding
{
    padding: 100px;
}
.card-group
{
    margin: 0px 10px;
}
.button 
{
    color: #45b020;
   
}




