* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

.navbar-collapse {
  background-color: #1f2b6c;
  display: flex;
  justify-content: space-between;
}

.navbar-nav a {
  color: white;
  padding: 15px;
  font-size: 18px;
  font-weight: 400;
}

.navbar-nav {
  display: flex;
  justify-content: space-between;
  margin: 0px 56px;
}

.med-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.medical-logo {
  display: none;
}

.app-btn img {
  padding: 5px;
}

.app-btn button {
  border-radius: 50px;
  border: none;
  padding: 5px 20px 5px 20px;
  background-color: #bfd2f8;
  color: #1f2b6c;
}

.btn1 {
  display: none;
}

.app-btn {
  margin: 5px 50px 5px 520px;
  gap: 10px;
  display: flex;
  align-items: center;
}

.med-icon h3 {
  font-size: 16px;
  font-weight: 500;
  color: #1f2b6c;
}

.med-icon h4 {
  font-size: 16px;
  font-weight: 500;
  color: #159eec;
}

.med-icon {
  display: flex;
  margin: 10px 0px;
}

.med-icon img {
  padding: 5px 5px;
}

.navbar {
  padding: 0px;
}

.carousel-item img {
  height: 550px;
}

.carousel-item {
  position: relative;
}

.slider-caption {
  position: absolute;
  width: 50%;
  top: 20%;
  left: 66%;
  transform: translate(-100%, 12%);
  padding: 20px 20px;
}

.slider-caption button {
  border-radius: 50px;
  padding: 5px 20px;
  background-color: #bfd2f8;
  color: #1f2b6c;
  border: none;
}

.slider-caption h5,
.work-sans {
  color: #159eec;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.slider-caption p,
.yeseva-one-regular {
  color: #1f2b6c;
  font-weight: 400;
  font-size: 48px;
  font-family: "Yeseva One", serif;
}

.smallshow {
  display: none;
}

.btn-data img {
  width: 50px;
  height: 50px;
  padding: 5px;
  margin: 2px 3px 2px 25px;
}

.btn-data button {
  border-radius: 5px;
  padding: 10px 15px 10px 15px;
  margin: 5px 15px;
}

.btn-data-1 {
  background-color: #1f2b6c;
  color: white;
}

.btn-data-2 {
  background-color: #bfd2f8;
  color: #1f2b6c;
}

.btn-data-3 {
  background-color: #159eec;
  color: white;
}

.btn-data {
  position: absolute;
  width: 70%;
  top: 90%;
  left: 86%;
  transform: translate(-100%, 12%);
}

.carousel-indicators {
  top: 450px;
}

.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.med-txt {
  text-align: center;
}

.med-txt h4 {
  margin: 70px 0px 0px 0px;
  color: #159eec;
  font-size: 18px;
  font-weight: 700;
}

.med-txt h1,
.yeseva-one-regular {
  color: #1f2b6c;
  font-size: 32px;
  font-weight: 400;
  font-family: "Yeseva One", serif;
}

.med-txt p {
  font-size: 16px;
  font-weight: 400;
  font-family: "Work Sans", sans-serif;
}

.med-txt button {
  border: none;
  color: #159eec;
  background-color: white;
  font-size: 16px;
  font-weight: 400;
}

.med-txt img {
  padding: 0px 8px;
}

.doc-img img {
  height: 250px;
  width: 992px;
  display: block;
  margin: 15px auto;
}

.services-txt h3 {
  color: #159eec;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  margin: 10px 0px 0px 0px;
}

.services-txt h1,
.yeseva-one-regular {
  color: #1f2b6c;
  font-family: "Yeseva One", serif;
  font-weight: 400;
  text-align: center;
}

.img-contain img {
  opacity: 0.5;
  height: 500px;
  width: 100%;
}

.medical-checkup img {
  height: 32px;
  width: 32px;
  align-content: center;
  margin: 30px 5px 0px 50px;
}

.medical-checkup h4 {
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  text-align: center;
  padding: 10px 15px;
  margin: 2px 5px;
}

.cardio-align {
  margin: 35px 0px 40px 0px;
}

.med-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.medical-checkup {
  border: 1px solid #888;
}

.checkup h4 {
  padding: 5px 6px;
}

.blood-bank h4 {
  padding: 5px 15px 0px 16px;
}

.view-all button {
  padding: 7px 37px 7px 38px;
  border: 1px solid #888;
  border-radius: 0px 0px 5px 5px;
  background-color: #1f2b6c;
  color: #bfd2f8;
  font-size: 14px;
  font-weight: 500;
  font-family: "Work Sans", sans-serif;
}

.checkup {
  border-radius: 5px 5px 0px 0px;
  border-bottom: none;
}

.cardiogram {
  border-bottom: none;
  border-top: none;
  background-color: #1f2b6c;
  color: #bfd2f8;
}

.dna-testing {
  border-bottom: none;
  border-top: none;
}

.blood-bank {
  border-bottom: none;
  border-top: none;
}

.para-txt h3 {
  font-size: 24px;
  font-weight: 500;
  font-family: "Work Sans", sans-serif;
  text-align: left;
  margin: 15px 0px 0px 0px;
}

.med-group {
  padding: 0px 0px 0px 155px;
}

.align-list {
  display: flex;
  justify-content: space-around;
}

.list-item li {
  font-size: 16px;
  font-weight: 400px;
}

.para-txt p {
  font-family: "Work Sans", sans-serif;
  padding: 10px 0px 0px 0px;
  margin: 0px;
  font-size: 16px;
  font-weight: 400;
}

li::marker {
  color: #159eec;
  font-size: 30px;
}

.doctor-img img {
  padding: 10px 15px;
  height: 225px;
  width: 258px;
}

.services-txt {
  padding: 43px 0px;
}

.heart-img img {
  height: 40px;
  width: 40px;
}

.doc-speciality {
  padding: 5px 10px;
}

.heart-align {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px 0px;
}

.img-contain {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-image: url("img/med-img.png");
  object-fit: cover;
  background-repeat: no-repeat;
}

.heart-align h5 {
  font-size: 16px;
  font-weight: 400;
  font-family: "Work Sans", sans-serif;
}

.img-caption h2 {
  font-size: 32px;
  font-weight: 400;
  font-family: "Yeseva One", serif;
  color: #159eec;
  font-weight: bold;
}

.img-caption p {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
}

/* .img-caption {
    position: absolute;
    top: 30%;
    left: 14%;
} */

.contact-form form .form-div {
  display: flex;
  justify-content: space-between;
}

.contact-form form .form-div input,
.contact-form form .form-div select,
.contact-form form .form-div textarea {
  width: calc(50% - 0px);
  padding: 6px;
  outline: none;
  border: 1px solid white;
  background-color: #1f2b6c;
  color: white;
}

.contact-form form .form-div textarea {
  width: 100%;
}
.form-div button {
  width: 100%;
  border-radius: 0px 0px 5px 5px;
  border: none;
  background-color: #bfd2f8;
  color: #1f2b6c;
  font-size: 16px;
  padding: 5px;
}
.align-form input {
  border-radius: 5px 0px 0px 0px;
  border: 1px solid #888;
  border-radius: none;
}
.align-form select {
  border-radius: 0px 5px 0px 0px;
  border: 1px solid #888;
}
.contact-form input::placeholder,
.contact-form select::placeholder,
.contact-form textarea::placeholder {
  color: #fcfefe;
}
.border-bottom {
  border-bottom: none !important;
}
.border-left {
  border-left: none !important;
}
.border-right {
  border-right: none !important;
}
.border-top {
  border-top: none !important;
}
.contact-form input[type="date"]::-webkit-calendar-picker-indicator {
    filter: brightness(0) invert(1); /* Change to the desired color */
}
.contact-form input[type="time"]::-webkit-calendar-picker-indicator {
    filter: brightness(0) invert(1); /* Change to the desired color */
}
.contact-form
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}