@media only screen and (max-width: 767px) {
  html{
    overflow-x: hidden;
}
  
  
  body {
        font-family: 'Inter', sans-serif, 'poppins', 'Roboto';
        overflow-x: hidden;
        background-color: white;
          }

          body ::-webkit-scrollbar:horizontal{
            display: none;
          }
    .mid-img img{
      width: 100%;
      height: 98px;
  }

  .main-banner-slider .carousel-item img {
    width: 100%;
    height: 300px !important; 
  }
  
  .container-fluid img {
    width: 100%;
    height: 85px;
    padding: 0px 15px;
}

.card{
  padding: 3px;
  box-shadow: 1px 1px 1px #a9a7a7;
  width:250px;
  height: 250px;
  align-items: center;
  margin: 10px 10px 0px 10px;
}
.card img{
  width: 45px;
  height: 45px;
  margin: auto;
}
.card h6,p{ 
  text-align: center;
  font-weight: bold;
}
card-header{
  align-items: center;
}

.card-img {

  margin: 10px 60px;
}

.blog-card {
  margin: 10px -25px;
}

.footer-txt p{
  text-align: left;
  font-weight: 300;
  padding: 5px 5px;
}
.bnb-footer img{
  margin: 15px 10px 0px 130px;
}


}



    
