@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700;900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 38px !important;
}
p {
  font-size: 16px !important;
}
h3 {
  font-size: 24px !important;
}
h4 {
  font-size: 21px !important;
}

.table-head-size{
    font-size: 18px;
}
.themeColor {
  color: #ffce28;
}

.themeBg {
  background: #ffce31;
}
.container {
  text-align: center;
}

.container h1 {
  margin: 65px 0;
}
.btn-style {
  background: #2a2a2a !important;
  color: #fff !important;
  font-weight: 600 !important;
}

.btn-style:hover {
  background: #ffce28 !important;
  color: #000 !important;
  font-weight: 600 !important;
}
.formInput {
  position: relative;
}

.formInput i {
  width: 20px;
  position: absolute;
  right: 15px;
  top: 45px;
}
.labelStyle {
  font-weight: bold;
  font-size: 14px;
}
.formInput input,
.formInput select,
.formInput textarea {
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  padding: 13px 10px;
}

/* home css */

.carousel-control-prev,
.carousel-control-next {
  display: none !important;
}

.carousel-indicators [data-bs-target] {
  height: 15px !important;
  width: 15px !important;
  border-radius: 50% !important;
}

/* our rates */

.card {
  border-radius: 10px !important;
  border: none !important;
  background: #f5f5f5 !important;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.card-price-bg1 {
  background: #0e95cc !important;
}
.card-hour-bg1 {
  background: #beceda !important;
}

.card-price-bg2 {
  background: #6ac649 !important;
}
.card-hour-bg2 {
  background: #a3d492 !important;
}
.card-text {
  margin-left: -80px;
}
.card-text p {
  color: #2b4c59;
  font-size: 14px;
}
.card-text p span {
  color: rgba(0, 0, 0, 58%);
  font-size: 11px;
  font-weight: bolder;
}
.rate-time {
  width: 54px;
  height: 55px;
  background: #fee79e;
  border-radius: 5px;
}
.rate-time i {
  font-size: 30px;
}
.rate-price {
  width: 71px;
  height: 90px;
  border-radius: 0px 10px 10px 0px;
}
.rate-price span {
  transform: rotate(90deg);
  transform: rotate(90deg);
  transform-origin: right, top;
  -ms-transform: rotate(90deg);
  -ms-transform-origin: right, top;
  -webkit-transform: rotate(90deg);
  -webkit-transform-origin: right, top;
  position: absolute;
  font-size: 27px;
  top: 23px;
  right: 6px;
  color: #fff;
}

.nav li button{
  font-size: 14px !important;
  border-radius: 4px !important;
  font-weight: 600;
}
.nav-pills .nav-link{
    color: #000 !important;
    border: 1px solid #000 !important;  
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background: #ffce31 !important;
    color: #000 !important;
    border: 1px solid #000 !important;
}


/* new address css */

.form-floating>.form-select{
  padding-top: 0px !important;
}
.custom-caret{
  appearance: none;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none;  /* Safari and Chrome */
  padding-right: 15px;
}

@media only screen and (min-width: 768px) {
}
