.grids-1::before {  
    transform: scaleY(0);
    transform-origin: bottom right;
  }
  
  .grids-1:hover::before {
    transform: scaleY(1);
    transform-origin: bottom left;
  }
  
  .grids-1::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background:#fd7e6a;
    z-index: -1;
    transition: transform 1s ease;
  }
  
  .grids-1 {
    position: relative;
    font-size: 5rem;
  }
  

  @media (orientation: landscape) {
    body {
      grid-auto-flow: column;
    }
  }