.main{
    margin: auto;
    box-sizing: border-box;
    width:400px ;
    padding: 20px;
    background-color: #000;

}
.links li{
list-style: none;
}
.links2 li{
    list-style: none;
}
.d-flex{
    align-items: baseline !important;
}

.padd-left-10{
padding-left: 10px;
}
h3{
    font-size: 18px;
    color: #FFCE28;
}
p{
    color:#ffff;
}
li{
    color: #ffff;
}
svg{
    color: #ffff;
}
.top svg{
    width: 26px;
    height: 26px;
}