* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif, 'poppins', 'Roboto';
    overflow-x: hidden;
}


.navbar-div {
    padding:15px 30px;
    background-color: #F5F7FA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:2px solid #eee;
}

.banner-image img{
text-align: center;

}
.main{
    padding:15px 30px;
}
.main ul {
    list-style: none;
    display: flex;
    gap: 25px;
    font-size: 18px;
    color: black;
    
}

a{
    color: #000000;
    text-decoration:none;
}
.button-style{
    display: flex;
    gap: 20px;
}
.login-botton button{
    border: none;
    background-color:#F5F7FA;
    color: #4CAF4F;
    padding: 10px 15px;
    font-size: 16px;
}
.button-signup button {
    border-radius: 4px;
    background-color: #4CAF4F;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
}

.slider ul{
    justify-content: center;
    list-style-type: disc;
    display: flex;
    gap: 20px;
    padding: 20px;
    font-size: 25px;
}
/*.carousel-indicators ul{
    align-items: center;
    list-style-type: disc;
    display: flex;
    gap: 25px;
    color: #4CAF4F;
}
*/
.contain-design {
    background-color: #F5F7FA;
    padding: 20px 50px 10px 50px;
}

.contain-design h2 {
    color: #4D4D4D;
    font-weight: bold;
}

.contain-design h3 {
    color: #4CAF4F;
    font-weight: bold;
}

.contain-design p{
    color: #717171;
    font-size: 16px;
}
.contain-design pimg{
    width:300px;
    height: 300px;
}

.customer-data{
    display: flex;
    gap: 50px;
}
.custom-img img{
    gap: 2;
}

.register-style button {
    border-radius: 4px;
    background-color: #4CAF4F;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
}
slider {
    text-align: center;
}
.slider ul{
    display: flex;
    color: #4CAF4F;
}

.txt-containt h2{
    font-weight: bold;
    font-size: 48;
    text-align: center;
    padding:30px 0 0 0 ;
    color: #18191F;
}
.txt-containt p{
    font-size: 18;
    text-align: center;
    color: #18191F;
}
.img-txt-design {
    padding: 30px 50px;
}
.img-txt-design img{
    display: block;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}

.img-txt-design h2 {
    color: #4D4D4D;
    font-weight: bold;
    text-align: center;
}
.img-txt-design p{
    color: #717171;
    font-size: 16px;
    text-align: center;
}

.logo3 img{
    display:inline-block;
    padding: 50px 50px;
}
.logo3 {
    text-align: center;
}

.example {
    background-color: white;
    padding: 50px 50px;
    display: flex;
}

.example h2 {
    color: #4D4D4D;
    font-weight: bold;
}

.example h3 {
    color: #4CAF4F;
    font-weight: bold;
}

.example p{
    color: #717171;
    font-size: 16px;
}

.item-logo {
    display: flex;
    padding: 10px;;
}
.item-logo img{
    padding: 15px;
    width: 80px;
    height: 80px;
}
.txt-design h2 {
    font-weight: 700;
    font-size: 28px;
}

.containt-head{
    text-align: center;
    margin: 50px;
}
.demo-style button{
    text-align: center;
    border-radius: 4px;
    background-color: #4CAF4F;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    gap: 10px;
}
.footer-style {
    background-color: #263238;
    padding: 45px 50px;
}
.footer-txt{
    margin:20px 0;
}
h4{
    color: white;
    font-size: 14px;
}

.foot-element h3{
    color: white;
}

.foot-element ul{
    list-style: none;
    font-size: 14px;
    color: white;
    padding:0;
}
.img-position {
    position: relative;
}
.img-position h4 {
    position: absolute;
    font-size: 14px;
    width: 50%;
    color:#717171;
    background-color: #F5F7FA;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 20px;
    text-align: center;
    border-radius:8px;
}
.img-position img {
    width: 100%;
}
.foot-element ul li a{
    color: white;
    
    padding: 0;
}
.foot-element ul li a{
    color: white;
}
.email-input input{
    margin: 20px 0;
    padding: 5px;
    background-color: #FFFFFF;
    border-radius: 4px;
    border:none;
}




/**
login Page css
**/

.login-page {
    padding: 40px;
    display: flex;
    
}

.login-page form {
display: block;
text-align: center;
}

.login-page form b, .login-page form input, .login-page form button {
    display: block; 
    display: block;
}
/*
.img-direction img {
height: 24px;
width: 24px;
}
*/
.email-input input[type="email"]{
    background-color:#888;
}

.foot-element{
    position: relative;
}

.foot-element img{
    position: absolute;
    top: 43%;
    left: 67%;
    }

   

/** login page*/
.login-sec {
    padding: 50px 60px;
    margin: 0;
}

.login-sec form {
    width: 50%;
    margin: auto;
    padding: 30% 0;
    font-family: 'Lato', sans-serif;
}

.login-sec .login-img img {
    width: 100%;
}

.login-sec input[type=text],[type=password]{
    width:100%;
    padding: 7px;
    margin:10px 0px;
    border-radius: 5px;
    border-width: 1px;
    border: 1px solid #D0D0D0;
}

.login-sec button{
    width:100%;
    padding: 7px;
    margin:10px 0px;
    border-radius: 8px;
    background-color: #4CAF4F;
    color: white;
    border: 1px solid #D0D0D0;
    border-width: 1px;
}

.login-g-button button{
    background-color:white;
    width:100%;
    padding: 7px;
    margin: 10px 0;
    border-radius: 8px;
    color: #000000 !important;
    border-width: 1px;
    box-shadow: none;
    border: 1px solid #D0D0D0;
}

.login-g-button img {
    width: 10%;
    height: 10%;
}
.txt-forget a{
    color: #0098EA;
}
.form-design h2{
     font-weight: bold;
}
.signup-form h3{
    color: black;
    font-weight: bold;
}

.signup-form-design input{
    padding: 5px;
    margin: 0px 0px 25px 0px;
    border-radius: 4px;
    border: 1px solid #D0D0D0;
    background-color:#EFF0F2;
    
}
.signup-txt label{
    font-size: 18px;
    color: #4D5959;
    font-family: 'poppins';
}

.signup-create-btn button{
    padding: 5px 20px;
    margin: 15px 0px;
    border-radius: 4px;
    background-color: #007074;
    color: white;
    border: none;
    font-family: 'poppins';
    text-align: center;
}

.signup-actn-link h4 {
    text-align: center;
    color: #000000 !important;
}

.signup-form h1{
    font-size: 26px;
    text-align: center;
}
.signup-actn-link a{
    color: #007074;
}

.button-img img{
    width:25px;
    height:25px;
}

.signup-form-design form{
    width: 70%;
    padding: 100px 0px;
    margin: auto;
}
.signup-form input{
    width:100%;
}
.signup-img img{
    width: 658px;
    height: 1024px;
}

.product-font{
    background-color: #F4F5F8;
    padding: 30px;
    text-align: center;
}
.font-desgn1{
    color: #191919;
    font-weight: lighter;
}

.product-font{
    position: relative;
}
.product-cart img{
    position: absolute;
    top: 23%;
    right: 4%;
}
.img-product-cart {
    background-color: #F1F1F1;
}

.Rectangle-img img{
    position: relative;
}

.img-icon img,h3,h5{
    
   
}
.small-tv-product img{
    padding: 0px 30px;
    display: flex;
    flex-wrap: wrap;
}
.large-led-pd img{
    background-color:#F1F1F1;
    width: 613px;
    height: 407px;
    text-align: center;
    margin: 0;
}

.signup-login-btn button{
    padding: 7px 20px;
    border: 1px solid #D2D2D2;
    border-radius: 4px;
    background-color: white;
   
}
.signup-login-btn{
    display: flex;
    gap: 30px;
    align-items: stretch;
    justify-content: center;
}
.signup-create-btn {
    text-align: center;
    padding: 10px;
} 
.product-cart h5{
    font-size: 15px;
    padding: 0px 120px;
}
.product-cart h3{
    font-size: 20px;
    padding: 0px 120px;
    font-family: 'inter';
    font-weight: bold;
}
.reviews-star-img img{
    
}