* {
    padding: 0;
    margin: 0;
    box-sizing: border-box ;
}

body{
    font-family: sans-serif;
    overflow-x: hidden;
}

.common-padding{
    padding: 0%, 50px;
}

.logo img {
    width: 150px;   
}

.navbar-div {
    background-color: #F5F7FA;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 1px #c4c2c2;
}main{
    padding: 15px,30px
}

.main ul{
    list-style: none;
    margin: auto;
    display: flex;
    gap: 50px
}
a{
    color: #000000;
    text-decoration:none;
}
.button-style{
    display: flex;
    gap: 20px;
}
.login-botton button{
    border: none;
    background-color:#F5F7FA;
    color: #4CAF4F;
    padding: 10px 15px;
    font-size: 16px;
}
.button-signup button {
    border-radius: 4px;
    background-color: #4CAF4F;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
}
/* 
.slider ul{
    justify-content: center;
    list-style-type: disc;
    display: flex;
    gap: 20px;
    padding: 20px;
    font-size: 25px;} */

    
    /* .login-page form{
        margin: 0%;
        padding: auto;
    }
.login-page img{
    text-align: right;
} */

 .input-button input{
    width: 100%;
    margin: auto;
 }

 form h2{
    text-align: center;
 }

 form{
    text-align: center;
    width: 50%;
    margin: auto;
 }
 
.login-sec{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.login-img{
    padding: 50px;
}
.login-img img {
    width: 100%;
}

.login-sec form input{
    width: auto;
    padding: auto;
    width: 326px;
    height: 50px;
    border-radius: 5px;
    border-color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 700px;
    margin: 20px;
    
}

.login-sec form button{
    width: 326px;
    height: 48px;
    border-radius: 4px;
    background-color: #d90808;
    color: aliceblue;
    border: 1px solid #F5F7FA ;
    font-size: 16px;
    font-weight: 700px;
    margin: 20px; 
}   
 .login-sec form a  {
        font-size: 15px;
        font-weight: 400;
        margin: 20px 7px;
        color: blue;
    }  

    
    
     .login-sec input{
        padding: 30px;
     }

     /*home page*/

.card-text{
        text-align: center ;
}

.logo{
    padding: 50px 50px;
    display: flex;
    justify-content: space-around;
}

.card-header{
    text-align: center;
}

.card-body{
    text-align: center;
}