* {
    padding: 0;
    margin: 0;
    box-sizing: border-box ;
}

body{
    font-family: sans-serif;
    overflow-x: hidden;
}

.common-padding{
    padding: 0%, 50px;
}

.logo img {
    width: 150px;   
}

.navbar-div {
    background-color: #F5F7FA;
    padding: 36px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}main{
    padding: 15px,30px
}

.main ul{
    list-style: none;
    display: flex;
    gap: 20px
}
a{
    color: #000000;
    text-decoration:none;
}
.button-style{
    display: flex;
    gap: 20px;
}
.login-botton button{
    border: none;
    background-color:#F5F7FA;
    color: #4CAF4F;
    padding: 10px 15px;
    font-size: 16px;
}
.button-signup button {
    border-radius: 4px;
    background-color: #4CAF4F;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
}
/* 
.slider ul{
    justify-content: center;
    list-style-type: disc;
    display: flex;
    gap: 20px;
    padding: 20px;
    font-size: 25px;} */

    
    /* .login-page form{
        margin: 0%;
        padding: auto;
    }
.login-page img{
    text-align: right;
} */

 .input-button input{
    width: 100%;
    margin: auto;
 }

 form h2{
    text-align: center;
 }